<div class="contents_row">
    <div class="contents_debate">
        <div class="contents_date">
            投稿日:2021年4月16日
        </div>
        <div class="contents_theme">
            テーマ2
        </div>
        <div class="contents_min">回答期限:2021年4月23日</div>
        <div class="contents_menu">
            <div class="contents_population">
                <a href="", class="contents_btn">賛成◯人</a>
                <a href="", class="contents_btn">反対◯人</a>
            </div>
            <a href="", class="participation_btn">詳細</a>
        </div>
    </div>
    <div class="contents_debate">
        <div class="contents_date">
            投稿日:2021年4月16日
        </div>
        <div class="contents_theme">
            テーマ2
        </div>
        <div class="contents_min">回答期限:2021年4月23日</div>
        <div class="contents_menu">
            <div class="contents_population">
                <a href="", class="contents_btn">賛成◯人</a>
                <a href="", class="contents_btn">反対◯人</a>
            </div>
            <a href="", class="participation_btn">詳細</a>
        </div>
    </div>
    <div class="contents_debate">
        <div class="contents_date">
            投稿日:2021年4月16日
        </div>
        <div class="contents_theme">
            テーマ2
        </div>
        <div class="contents_min">回答期限:2021年4月23日</div>
        <div class="contents_menu">
            <div class="contents_population">
                <a href="", class="contents_btn">賛成◯人</a>
                <a href="", class="contents_btn">反対◯人</a>
            </div>
            <a href="", class="participation_btn">詳細</a>
        </div>
    </div>
    <div class="contents_debate">
        <div class="contents_date">
            投稿日:2021年4月16日
        </div>
        <div class="contents_theme">
            テーマ2
        </div>
        <div class="contents_min">回答期限:2021年4月23日</div>
        <div class="contents_menu">
            <div class="contents_population">
                <a href="", class="contents_btn">賛成◯人</a>
                <a href="", class="contents_btn">反対◯人</a>
            </div>
            <a href="", class="participation_btn">詳細</a>
        </div>
    </div>
</div>
