<div class="contents_debate">
    <div class="contents_date">投稿日:<%= theme.created_at %></div>
    <div class="contents_theme"><%= theme.title %></div>
    <div class="contents_min">ご意見を受付中です</div>
    <div class="contents_menu">
        <div class="contents_population">
            <p class="contents_btn">賛成◯人</a>
            <p class="contents_btn">反対◯人</a>
        </div>
        <div class="contents_population">
        <a href="", class="participation_btn">詳細</a>
        <a href="", class="participation_btn">結論</a>
        </div>
    </div>
</div>