/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

html,body{
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
}
h1, h2, h3, h4, h5{
    text-decoration: none;
    margin-top: 0px;
}

.header {
    width: 100%;
    background-color: #990033;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.header_title {
    font-size: 86px;
}

.header_title span{
    font-size: 48px;
}

.header_menu{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.header_menu_btn{
    font-size: 33px;
    margin-left: 33px;
    text-decoration: none;
    padding: 8px;
    color: #fff;
}

.header_menu_btn:hover{
    background-color: #993366;
}

.main{
    width: 100%;
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    background-color: #DB7093;
}

.footer{
    background-color: #000;
    position: relative;
    bottom: 0px;
    width: 100%;
    left: 0;
}

.footer_text{
    width: 100%;
    text-align: center;
    color: #fff; 
}

.contents_row {
    width: 80%;
    margin: 0px auto;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}

.contents_debate {
    background-color: #FFDBC9;
    box-sizing: border-box;
    width: 32%;
    color: #000;
    margin: 5px;
    padding: 5px;
    border: 2px solid #660000;
    border-radius: 10px;
}

.contents_theme {
    background-color: #FFFFEE;
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    border: 2px solid #660000;
    overflow: scroll;
}

.contents_min {
    font-size: 25px;
    font-weight: bold;
    margin: 15px;
}

.contents_menu {
    display: flex;
    justify-content: space-between;
}

.contents_population {
    color: #000;
    display: flex;
}

.contents_btn {
    color: #000;
    font-size: 20px;
    margin-right: 10px;
}

.participation_btn {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    background-color: #FF3333;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
    margin-top: 20px;
    box-shadow: 0px 0px 15px -5px #777777;
}

.participation_btn_2 {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    padding: 5px;
    border-radius: 6px;
    margin-top: 20px;
}


.contents_new {
    width: 80%;
    margin: 0 auto;
    padding: 80px;
}

.new_form {
    background-color: #FFDBC9;
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    height: 450px;
    border: 2px solid #660000;
    border-radius: 6px;
}

.new_form_field {
    width: 100%;
}

.label {
    font-size: 38px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.new_form_label {
    margin-left: 30px;
}

.new_form_area {
    display: flex;
    justify-content: center;
}

.new_form_title {
    font-size: 25px;
    width: 80%;
    margin-bottom: 15px;
    border: 2px solid #660000;
    border-radius: 6px;
    background-color: #FFFFEE;
}

.new_form_textarea {
    font-size: 25px;
    height: 200px;
    width: 80%;
    margin-bottom: 15px;
    border: 2px solid #660000;
    border-radius: 6px;
    background-color: #FFFFEE;
}

.action {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.new_form_btn {
    background-color: #990033;
    color: #fff;
    border-color: #990033;
    font-size: 40px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
}

.contents_opinion {
    width: 80%;
    margin: 0 auto;
    padding: 80px;
}

.opinion_form {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid #660000;
    border-radius: 6px;
    background-color: #FFDBC9;
    margin-bottom: 30px;
}

.opinion_form_field {
    width: 100%;
}

.opinion_form_area1 {
    display: flex;
    justify-content: flex-start;
    height:40px;
    width: 80%;
    margin: 0 auto;
}

.opinion_form_area {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.opinion_form_foragainst {
    border: 1px solid #660000;
    border-radius: 6px;
    background-color: #FFFFEE;
    font-size: 30px;
    font-weight: bold;
}

.opinion_form_label {
    margin-left: 30px;
}

.opinion_form_textarea {
    font-size: 25px;
    height: 200px;
    width: 100%;
    border: 2px solid #660000;
    border-radius: 6px;
    background-color: #FFFFEE;
}

.opinion_form_url {
    font-size: 25px;
    width: 100%;
    border: 2px solid #660000;
    border-radius: 6px;
    background-color: #FFFFEE;
}

.action_opinion {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.opinion_form_btn {
    background-color: #990033;
    color: #fff;
    border-color: #990033;
    font-size: 40px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
}

.foragainst_field {
    margin-top: 100px;
    width: 100%;
    display: flex;
    background-color: #336600;
}

.for_title {
    width: 50%;
    background-color: #3366FF;
    text-align: center;
    font-size: 25px;
    box-sizing: border-box;
    font-weight: bold;
    color: #fff;
}

.against_title {
    width: 50%;
    background-color: #FF0000;
    text-align: center;
    font-size: 25px;
    box-sizing: border-box;
    font-weight: bold;
    color: #fff;
}


.opinion_row {
    background-color: #CC66FF;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.opinion_for {
    width: 50%;
    background-color: #CCFFFF;
    box-sizing: border-box;
    padding: 10px;
}

.opinion_against {
    width: 50%;
    background-color: #FFCCFF;
    box-sizing: border-box;
    padding: 10px;
}

.opinion_for_reason_area {
    border: 0.2px solid #3366FF;
    border-radius: 10px;
    width: 80%;
    background-color: #EEFFFF;
    box-sizing: border-box;
    word-break: break-all;
    padding: 5px;
    margin-left: 10px;
}

.opinion_against_reason_area {
    border: 0.2px solid #FF0000;
    border-radius: 10px;
    width: 80%;
    background-color: #FFEEFF;
    box-sizing: border-box;
    word-break: break-all;
    padding: 5px;
    margin-right: 10px;
}

.opinion_against_field {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

.opinion_for_field {
    margin: 5px;
    padding: 5px;
    display: flex;
}

.opinion_user {
    width: 15%;
    text-align: center;
}

.opinion_user_image {
    height: 65px;
    width: 65px;
    background: center;
    border: 0.5px solid #9900CC;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    background-size: cover;
}

.opinion_for_reason {
    margin-bottom: 10px;
}

.opinion_against_reason {
    margin-bottom: 10px;
}

.new_form_theme {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid #660000;
    border-radius: 6px;
    background-color: #FFDBC9;
}

.new_form_theme_btn_area {
    display: flex;
    justify-content: flex-end;
}

.new_form_theme_btn {
    background-color: #FF3333;
    color: #fff;
    font-size: 30px;
    padding: 10px;
    border-radius: 6px;
    margin-top: 20px;
    box-shadow: 0px 0px 15px -5px #777777;
    font-weight: bold;
}

.new_form_theme_title {
    width: 100%;
}

.new_form_theme_text {
    width: 100%;
    font-size: 25px;
}

.label_newform {
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.new_form_theme_user {
    margin-top: 15px;
    font-size: 25px;
}

.new_form_conclusion_area {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    border: 7px solid #660000;
    border-radius: 6px;
    background-color: #FFCCCC;
}

.new_form_conclusion_title {
    font-size: 55px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.new_form_conclusion {
    background-color: #FFD5EC;
    border: 0.2px solid #660000;
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
}

.new_form_conclusion_subtitle {
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.new_form_conclusion_forageinst{
    font-size: 40px;
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
}

.new_form_conclusion_reason {
    font-size: 25px;
    margin: 0 auto;
}

.new_form_conclusion_mod {
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}

.label_newform_themeco {
    font-size: 40px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.user_field {
    width: 80%;
    margin: 0 auto;
    padding: 80px;
}

.user_info_area {
    width: 90%;
    margin: 0 auto;
    padding: 40px;
    border: 2px solid #660000;
    border-radius: 6px;
    background-color: #FFDBC9;
}

h2 {
    font-size: 30px;
}

.user_name {
    font-size: 25px;
    margin: 20px, 0px;
}

.user_text {
    font-size: 25px;
    margin: 15px, 0px;
}

.user_mod {
    font-size: 25px;
    margin: 15px, 0px;
}

.user_mod_theme {
    font-size: 25px;
    margin: 15px, 0px;
    color: #FF0000;
}

.user_mod_opinion {
    font-size: 25px;
    margin: 15px, 0px;
}

.user_theme {
    font-size: 25px;
    margin: 15px, 0px;
}

.user_theme_example {
    font-size: 25px;
    margin: 15px, 0px;
    list-style: none;
}

.theme_user_image {
    height: 250px;
    width: 250px;
    background: center;
    border: 0.5px solid #000;
    margin: 0 auto;
    margin-bottom: 10px;
    background-size: cover;
}

.theme_user_info_area {
    width: 75%;
    margin: 0 auto;
    padding: 40px;
    border: 2px solid #660000;
    border-radius: 6px;
    background-color: #FFDBC9;
}

.theme_user_btn_area {
    display: flex;
    justify-content: flex-end;
}

.theme_user_btn {
    background-color: #FF3333;
    color: #fff;
    font-size: 30px;
    padding: 10px;
    border-radius: 6px;
    margin-top: 20px;
    box-shadow: 0px 0px 15px -5px #777777;
    font-weight: bold;
}

.label_edit {
    font-size: 30px;
    font-weight: bold;
}

.edit_user_textarea {
    font-size: 25px;
    height: 200px;
    width: 80%;
    margin-bottom: 15px;
    border: 2px solid #660000;
    border-radius: 6px;
    background-color: #FFFFEE;
}

.edit_user_field {
    font-size: 25px;
    font-weight: bold;
    margin: 40px, 0;
}